<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>

<body>
    <div id="sidebar" class="sidebar bg-dark-header">
        <!-- Sidebar content -->
        <div class="sidebar-header">
            <div class="py-4 d-flex flex-column align-items-center justify-content-center">
                <div class="user_image py-2">
                    <img src="../img/photo_user.jpg" class="img-fluid img-rounded img-size">
                </div>
                <div class="d-flex flex-column py-2">
                    <span class="text-center text-light fw-bold fs-5">Eros Bazan</span>
                    <span class="text-center text-light fs-6">Administrator</span>
                </div>
            </div>
        </div>
        <div id="sidebar-body" class="sidebar-body">
            <ul id="sidebar-nav" class="navbar-nav">
                <li id="dashboard" class="nav-item"><a
                        class="nav-link text-white p-3 w-100 sidebar-item d-flex align-items-center"
                        href="../views/dashboard.html"><i class="bi bi-grid-3x3-gap-fill mx-2 fs-5"></i><span
                            class="mx-3">Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item d-flex align-items-center"
                        href="../views/module-students.html"><i class="bi bi-person-fill mx-2 fs-5"></i><span
                            class="mx-3">Alumnos</span></a>
                </li>
                <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item d-flex align-items-center"
                        href="../views/module-notes.html"><i class="bi bi-journal-check mx-2 fs-5"></i><span
                            class="mx-3">Notas</span></a></li>
                <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item d-flex align-items-center"
                        href="../views/settings.html"><i class="bi bi-gear-fill mx-2 fs-5"></i><span
                            class="mx-3">Configuración</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-container" class="main-container bg-white">
        <header class="p-fixed sticky-top bg-dark-header">
            <nav class="navbar navbar-expand navbar-dark justify-content-between">
                <div id="toogle-sidebar" class="toogle mx-4" role="button">
                    <i class="icon ion-md-menu text-light fs-2"></i>
                </div>
                <div class="nav navbar-text">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown text-center">
                            <a role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                class="nav-link link-text-large text-white">
                                <span class="link-text-large text-white">Eros Bazan</span>
                                <i class="icon ion-md-power mx-3"></i>
                            </a>
                            <ul class="dropdown-menu bg-dark-header" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" role="button">Cambiar Contraseña</a></li>
                                <li><a class="dropdown-item" role="button" data-bs-toggle="modal"
                                        data-bs-target="#logoutSession">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="p-3">
            <div class="modal fade" id="logoutSession" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutSession">Aviso de Sesión</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">¿Está seguro que quiere cerrar sesión?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                                id="btnLogout">Salir</button>
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header text-md-center">
                        <h2 class="card-title">Información General</h2>
                    </div>
                    <div class="card-body text-center">
                        <div class="my-2">
                            <button id="view-faculty" class="btn btn-outline-primary">
                                <span>Facultades</span>
                            </button>
                            <button id="view-speciality" class="btn btn-outline-primary">
                                <span>Especialidades</span>
                            </button>
                        </div>
                        <div class="d-flex">
                            <div id="first-card" class="card border-dark mb-3 mx-2" style="max-width: 22rem;">
                                <div class="card-header">Facultades</div>
                                <div class="card-body text-dark">
                                    <div class="card-text">
                                        <p>INGENIERIA DE PETROLEO, GAS NATURAL Y PETROQUIMICA</p>
                                        <p>INGENIERIA INDUSTRIAL Y DE SISTEMAS</p>
                                        <p>INGENIERIA MECÁNICA</p>
                                        <p>INGENIERIA QUÍMICA Y TEXTIL</p>
                                        <p>ARQUITECTURA, URBANISMO Y ARTES</p>
                                        <p>INGENIERIA CIVIL</p>
                                        <p>CIENCIAS</p>
                                        <p>INGENIERIA ELECTRICA Y ELECTRONICA</p>
                                        <p>INGENIERIA GEOLOGICA, MINERA Y METALURGICA</p>
                                        <p>INGENIERIA ECONOMICA, ESTADISTICA Y CIENCIAS SOCIALES</p>
                                        <p>INGENIERIA AMBIENTAL</p>
                                    </div>
                                </div>
                            </div>
                            <div id="second-card" class="card border-dark mb-3 mx-2" style="max-width: 22rem;">
                                <div class="card-header">Especialidades</div>
                                <div class="card-body text-dark">
                                    <div class="card-text d-flex flex-column align-items-center justify-content-center">
                                        <span>ARQUITECTURA</span>
                                        <span>INGENIERIA CIVIL</span>
                                        <span>INGENIERIA ECONOMICA</span>
                                        <span>INGENIERIA ESTADISTICA</span>
                                        <span>INGENIERIA GEOLOGICA</span>
                                        <span>INGENIERIA METALURGICA</span>
                                        <span>INGENIERIA DE MINAS</span>
                                        <span>INGENIERIA INDUSTRIAL</span>
                                        <span>INGENIERIA DE SISTEMAS</span>
                                        <span>INGENIERIA ELECTRICA</span>
                                        <span>INGENIERIA ELECTRONICA</span>
                                        <span>INGENIERIA DE TELECOMUNICACIONES</span>
                                        <span>INGENIERIA MECANICA</span>
                                        <span>INGENIERIA MECANICA Y ELECTRICA</span>
                                        <span>INGENIERIA NAVAL</span>
                                        <span>INGENIERIA MECATRONICA</span>
                                        <span>FISICA</span>
                                        <span>MATEMATICA</span>
                                        <span>QUIMICA</span>
                                        <span>INGENIERIA FISICA</span>
                                        <span>CIENCIA DE LA COMPUTACION</span>
                                        <span>INGENIERIA PETROQUIMICA</span>
                                        <span>INGENIERIA DE PETROLEO Y GAS NATURAL</span>
                                        <span>INGENIERIA QUIMICA</span>
                                        <span>INGENIERIA TEXTIL</span>
                                        <span>INGENIERIA SANITARIA</span>
                                        <span>INGENIERIA DE HIGIENE Y SEGURIDAD INDUSTRIAL</span>
                                        <span>INGENIERIA AMBIENTAL</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/jquery.js"></script>
</body>

</html>