<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Alumnos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>

<body>
    <header class="container-fluid p-fixed m-md-0 p-md-0 sticky-top bg-dark-header shadow-header">
        <nav class="navbar navbar-expand navbar-dark">
            <div class="container-fluid nav justify-content-end navbar-text">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown text-center">
                        <a role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                            class="nav-link link-text-large text-white">
                            <span class="link-text-large text-white">Eros Bazan</span>
                            <i class="icon ion-md-power mx-3"></i>
                        </a>
                        <ul class="dropdown-menu bg-dark-header" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" role="button">Cambiar Contraseña</a></li>
                            <li><a class="dropdown-item" role="button" data-bs-toggle="modal"
                                    data-bs-target="#logoutSession">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="modal fade" id="logoutSession" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutSession">Aviso de Sesión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">¿Está seguro que quiere cerrar sesión?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="btnLogout">Salir</button>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-md-0 m-md-0">
            <div class="col-md-2 d-flex flex-column p-md-0 m-md-0">
                <nav class="sidebar-container bg-dark p-md-0 m-md-0">
                    <!-- Navbar content -->
                    <div>
                        <h2 class="text-white fw-bold text-center py-4">¡Bienvenido, Eros!</h2>
                    </div>
                    <div>
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item"
                                    href="../views/dashboard.html"><i class="icon ion-md-apps mx-3"></i>Dashboard</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item"
                                    href="../views/module-students.html"><i
                                        class="icon ion-md-person mx-3"></i>Alumnos</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item"
                                    href="../views/module-notes.html"><i class="icon ion-md-paper mx-3"></i>Notas</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item"
                                    href="../views/settings.html"><i
                                        class="icon ion-md-settings mx-3"></i>Configuración</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="card-header">
                        <h2 class="text-center fs-2">Buscador de Alumnos</p>
                    </div>
                </div>
                <div class="row card-body">
                    <form id="frmRegisterStudents" class="row g-3">
                        <div class="col-md-2 px-md-3">
                            <label for="inputId" class="form-label">Código</label>
                            <input type="text" class="form-control" id="inputId">
                        </div>
                        <div class="col-md-2 px-md-3">
                            <label for="inputSurname" class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" id="inputSurname">
                        </div>
                        <div class="col-md-2 px-md-3">
                            <label for="inputSecondSurname" class="form-label">Apellido Materno</label>
                            <input type="text" class="form-control" id="inputSecondSurname">
                        </div>
                        <div class="col-md-2 px-md-3">
                            <label for="inputNames" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="inputNames">
                        </div>
                        <div class="col-md-2 px-md-3">
                            <label for="inputSpeciality" class="form-label">Especialidad</label>
                            <input type="text" class="form-control" id="inputSpeciality">
                        </div>
                        <!-- <div class="col-md-4">
                            <label for="inputCycle" class="form-label">Ciclo Relativo</label>
                            <select id="inputCycle" class="form-select select-style">
                                <option selected>Seleccione</option>
                                <option>1er ciclo</option>
                                <option>2do ciclo</option>
                                <option>3er ciclo</option>
                                <option>4to ciclo</option>
                                <option>5to ciclo</option>
                                <option>6to ciclo</option>
                                <option>7mo ciclo</option>
                                <option>8vo ciclo</option>
                                <option>9mo ciclo</option>
                                <option>10mo ciclo</option>
                                <option>11mo ciclo</option>
                            </select>
                        </div> -->
                        <div class="col-md-2 pt-4 mt-4 px-0 d-flex justify-content-center">
                            <button id="btnSearch" type="submit"
                                class="btn btn-dark fw-bold btn-small text-center">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="row card-body">
                    <table class="table table-hover table-responsive-md align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" class="text-center">Código</td>
                                <th scope="col" class="text-center">Apellidos</td>
                                <th scope="col" class="text-center">Nombres</td>
                                <th scope="col" class="text-center">Especialidad</td>
                                <th scope="col" class="text-center">Ciclo Relativo</td>
                                <th scope="col" class="text-center">Acción</td>
                            </tr>
                        </thead>
                        <tbody id="dataStudents">

                        </tbody>
                    </table>
                    <div class="modal fade" id="viewDetailStudent" aria-hidden="true"
                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalToggleLabel">Información del Estudiante</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-md-1">
                                    <div class="informationStudente row">
                                        <div id="imageStudent" class="col-md-4 d-flex align-items-center">

                                        </div>
                                        <div class="col-md-8 p-md-3 d-flex align-items-center">
                                            <table class="table table-responsive-md align-middle">
                                                <tbody id="detailStudent">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/BuscadorAlumnos.js"></script>
    <script src="../js/search.js"></script>
</body>

</html>