<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Notas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>

<body>
    <div id="sidebar" class="sidebar bg-dark-header">
        <!-- Sidebar content -->
        <div class="sidebar-header">
            <div class="py-4 d-flex flex-column align-items-center justify-content-center">
                <div class="user_image py-2">
                    <img src="../img/photo_user.jpg" class="img-fluid img-rounded img-size">
                </div>
                <div class="d-flex flex-column py-2">
                    <span class="text-center text-light fw-bold fs-5">Eros Bazan</span>
                    <span class="text-center text-light fs-6">Administrator</span>
                </div>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item d-flex align-items-center"
                        href="../views/dashboard.html"><i class="bi bi-grid-3x3-gap-fill mx-2 fs-5"></i><span
                            class="mx-3">Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item d-flex align-items-center"
                        href="../views/module-students.html"><i class="bi bi-person-fill mx-2 fs-5"></i><span
                            class="mx-3">Alumnos</span></a>
                </li>
                <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item d-flex align-items-center"
                        href="../views/module-notes.html"><i class="bi bi-journal-check mx-2 fs-5"></i><span
                            class="mx-3">Notas</span></a></li>
                <li class="nav-item"><a class="nav-link text-white p-3 w-100 sidebar-item d-flex align-items-center"
                        href="../views/settings.html"><i class="bi bi-gear-fill mx-2 fs-5"></i><span
                            class="mx-3">Configuración</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-container" class="main-container bg-white">
        <header class="p-fixed sticky-top bg-dark-header">
            <nav class="navbar navbar-expand navbar-dark justify-content-between">
                <div id="toogle-sidebar" class="toogle mx-4" role="button">
                    <i class="icon ion-md-menu text-light fs-2"></i>
                </div>
                <div class="nav navbar-text">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown text-center">
                            <a role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                class="nav-link link-text-large text-white">
                                <span class="link-text-large text-white">Eros Bazan</span>
                                <i class="icon ion-md-power mx-3"></i>
                            </a>
                            <ul class="dropdown-menu bg-dark-header" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" role="button">Cambiar Contraseña</a></li>
                                <li><a class="dropdown-item" role="button" data-bs-toggle="modal"
                                        data-bs-target="#logoutSession">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="p-3">
            <div class="modal fade" id="logoutSession" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutSession">Aviso de Sesión</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">¿Está seguro que quiere cerrar sesión?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                                id="btnLogout">Salir</button>
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="card-header">
                            <h2 class="text-center fs-2">Registro de Notas</p>
                        </div>
                    </div>
                    <div class="row card-body">
                        <table class="table table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Código</td>
                                    <th scope="col">Apellidos</td>
                                    <th scope="col">Nombres</td>
                                    <th scope="col">Curso</td>
                                    <th scope="col">PC1</td>
                                    <th scope="col">PC2</td>
                                    <th scope="col">PC3</td>
                                    <th scope="col">PC4</td>
                                    <th scope="col">EP</td>
                                    <th scope="col">EF</td>
                                    <th scope="col">Promedio</td>
                                    <th scope="col">Condición</td>
                                </tr>
                            </thead>
                            <tbody id="dataStudentsNotes">

                            </tbody>
                        </table>
                    </div>
                    <div class="row card-body">
                        <div class="modal fade" id="registerStudentsNotes" aria-hidden="true"
                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Registrar Notas</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="frmRegisterStudentsNotes" class="row g-3">
                                            <div class="row-md-4">
                                                <label for="inputId" class="form-label">Código</label>
                                                <input type="text" class="form-control" id="inputId">
                                            </div>
                                            <div class="row-md-4">
                                                <label for="inputLastName" class="form-label">Apellidos</label>
                                                <input type="text" class="form-control" id="inputLastName">
                                            </div>
                                            <div class="row-md-4">
                                                <label for="inputName" class="form-label">Nombres</label>
                                                <input type="text" class="form-control" id="inputName">
                                            </div>
                                            <div class="row-md-4">
                                                <label for="inputCurse" class="form-label">Curso</label>
                                                <input type="text" class="form-control" id="inputCurse">
                                            </div>
                                            <div class="row-md-2">
                                                <label for="inputPC1" class="form-label">Práctica 1</label>
                                                <input type="text" class="form-control" id="inputPC1">
                                            </div>
                                            <div class="row-md-2">
                                                <label for="inputPC2" class="form-label">Práctica 2</label>
                                                <input type="text" class="form-control" id="inputPC2">
                                            </div>
                                            <div class="row-md-2">
                                                <label for="inputPC3" class="form-label">Práctica 3</label>
                                                <input type="text" class="form-control" id="inputPC3">
                                            </div>
                                            <div class="row-md-2">
                                                <label for="inputPC4" class="form-label">Práctica 4</label>
                                                <input type="text" class="form-control" id="inputPC4">
                                            </div>
                                            <div class="row-md-4">
                                                <label for="inputEP" class="form-label">Examen Parcial</label>
                                                <input type="text" class="form-control" id="inputEP">
                                            </div>
                                            <div class="row-md-4">
                                                <label for="inputEF" class="form-label">Examen Final</label>
                                                <input type="text" class="form-control" id="inputEF">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row-md-4">
                                            <button id="btnSaveNote" type="submit"
                                                class="btn btn-dark fw-bold btn-small text-center"
                                                data-bs-dismiss="modal">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-footer">
                            <a id="btnUpdate" class="btn btn-dark fw-bold btn-small text-center" data-bs-toggle="modal"
                                href="#registerStudentsNotes" role="button">Agregar</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/RegistroNotas.js"></script>
    <script src="../js/notes.js"></script>
    <script src="../js/sidebar.js"></script>
</body>

</html>