<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>

<body>
    <header class="container-fluid p-fixed m-md-0 p-md-0 sticky-top bg-dark-header shadow-header">
        <nav class="navbar navbar-expand navbar-dark">
            <div class="container-fluid nav justify-content-end navbar-text">
                <ul class="navbar-nav navlist">
                    <li class="nav-item text-center"><button class="border-0 btn-dark-one text-dark mx-2"><a
                                class="nav-link link-text text-white" href="../index.html">Iniciar Sesión</a></button>
                    </li>
                    <li class="nav-item text-center"><button class="border-0 btn-dark-one text-dark mx-2"><a
                                class="nav-link link-text text-white"
                                href="./register.html">Registrarse</a></button></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>